[Reference](https://deysuman.medium.com/demystifying-time-series-a-beginners-guide-to-dealing-with-date-time-part-2-37a447da25fe)

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
curr_date = datetime.now()
# datetime.datetime(2022, 1, 22, 5, 52, 56, 997753)

# Creating future and past dates using timedelta

In [2]:
# Getting one hour ahead time
curr_date + timedelta(minutes = 60)
# datetime.datetime(2022, 1, 22, 6, 52, 56, 997753)
curr_date + timedelta(minutes = -60)
# datetime.datetime(2022, 1, 22, 4, 52, 56, 997753)

datetime.datetime(2022, 2, 12, 7, 7, 3, 232113)

In [3]:
curr_date + timedelta(days = 1)
# datetime.datetime(2022, 1, 23, 5, 52, 56, 997753)
curr_date + timedelta(days = -1)
# datetime.datetime(2022, 1, 19, 6, 28, 5, 420728)

datetime.datetime(2022, 2, 11, 8, 7, 3, 232113)

# Resampling Timestamp

In [4]:
pd.date_range(start = curr_date, end = curr_date + timedelta(days = 30), freq = 'D')

DatetimeIndex(['2022-02-12 08:07:03.232113', '2022-02-13 08:07:03.232113',
               '2022-02-14 08:07:03.232113', '2022-02-15 08:07:03.232113',
               '2022-02-16 08:07:03.232113', '2022-02-17 08:07:03.232113',
               '2022-02-18 08:07:03.232113', '2022-02-19 08:07:03.232113',
               '2022-02-20 08:07:03.232113', '2022-02-21 08:07:03.232113',
               '2022-02-22 08:07:03.232113', '2022-02-23 08:07:03.232113',
               '2022-02-24 08:07:03.232113', '2022-02-25 08:07:03.232113',
               '2022-02-26 08:07:03.232113', '2022-02-27 08:07:03.232113',
               '2022-02-28 08:07:03.232113', '2022-03-01 08:07:03.232113',
               '2022-03-02 08:07:03.232113', '2022-03-03 08:07:03.232113',
               '2022-03-04 08:07:03.232113', '2022-03-05 08:07:03.232113',
               '2022-03-06 08:07:03.232113', '2022-03-07 08:07:03.232113',
               '2022-03-08 08:07:03.232113', '2022-03-09 08:07:03.232113',
               '2022-03-10 08:07:03.232113', '2022-03-11 08:07:03.232113',
               '2022-03-12 08:07:03.232113', '2022-03-13 08:07:03.232113',
               '2022-03-14 08:07:03.232113'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame({'DATETIME' : pd.date_range(start = curr_date, end = curr_date + timedelta(days = 1), freq = 'T'), 'VALUE' :
np.random.randn(1441)})

In [6]:
df.set_index('DATETIME').resample('1h').sum().reset_index()

              DATETIME      VALUE
0  2022-02-12 08:00:00  -1.059421
1  2022-02-12 09:00:00  23.101050
2  2022-02-12 10:00:00  -7.255027
3  2022-02-12 11:00:00   1.409709
4  2022-02-12 12:00:00  16.025180
5  2022-02-12 13:00:00   1.374072
6  2022-02-12 14:00:00  -2.132633
7  2022-02-12 15:00:00  -6.351812
8  2022-02-12 16:00:00   3.243721
9  2022-02-12 17:00:00   1.320810
10 2022-02-12 18:00:00   0.156139
11 2022-02-12 19:00:00  -3.802700
12 2022-02-12 20:00:00  -3.665309
13 2022-02-12 21:00:00   0.716575
14 2022-02-12 22:00:00  -2.111418
15 2022-02-12 23:00:00   4.657204
16 2022-02-13 00:00:00  -3.815591
17 2022-02-13 01:00:00   3.443062
18 2022-02-13 02:00:00  -7.587141
19 2022-02-13 03:00:00   6.279327
20 2022-02-13 04:00:00  -3.528046
21 2022-02-13 05:00:00   6.058173
22 2022-02-13 06:00:00  -7.705511
23 2022-02-13 07:00:00   5.646788
24 2022-02-13 08:00:00   0.885610

In [7]:
df.set_index('DATETIME').resample('5h').sum().reset_index()

             DATETIME      VALUE
0 2022-02-12 05:00:00  22.041629
1 2022-02-12 10:00:00   9.421301
2 2022-02-12 15:00:00  -5.433842
3 2022-02-12 20:00:00  -4.218539
4 2022-02-13 01:00:00   4.665375
5 2022-02-13 06:00:00  -1.173113

In [8]:
df.set_index('DATETIME').resample('1h').mean().reset_index()
df.set_index('DATETIME').resample('1h').median().reset_index()
df.set_index('DATETIME').resample('1h').min().reset_index()
df.set_index('DATETIME').resample('1h').max().reset_index()

              DATETIME     VALUE
0  2022-02-12 08:00:00  2.024280
1  2022-02-12 09:00:00  2.573009
2  2022-02-12 10:00:00  1.984410
3  2022-02-12 11:00:00  1.888723
4  2022-02-12 12:00:00  2.499489
5  2022-02-12 13:00:00  1.616564
6  2022-02-12 14:00:00  1.605728
7  2022-02-12 15:00:00  2.290279
8  2022-02-12 16:00:00  3.046141
9  2022-02-12 17:00:00  2.617454
10 2022-02-12 18:00:00  1.877295
11 2022-02-12 19:00:00  2.196795
12 2022-02-12 20:00:00  2.635116
13 2022-02-12 21:00:00  1.694076
14 2022-02-12 22:00:00  1.922079
15 2022-02-12 23:00:00  2.232362
16 2022-02-13 00:00:00  1.891525
17 2022-02-13 01:00:00  2.067057
18 2022-02-13 02:00:00  2.452835
19 2022-02-13 03:00:00  1.990900
20 2022-02-13 04:00:00  1.657262
21 2022-02-13 05:00:00  2.028722
22 2022-02-13 06:00:00  2.123449
23 2022-02-13 07:00:00  3.131433
24 2022-02-13 08:00:00  1.219213

# Imputing Missing values in Time Series Data

In [9]:
df = pd.DataFrame({'DATETIME' : pd.date_range(start = curr_date, end = curr_date + timedelta(minutes = 60), freq = '5T'),
'VALUE' : [3, 4, np.NaN, 7, 8, np.NaN, 10, 12, 15, 9, np.NaN, 20, 25]})

In [10]:
df.fillna(method = 'bfill')

                     DATETIME  VALUE
0  2022-02-12 08:07:03.232113    3.0
1  2022-02-12 08:12:03.232113    4.0
2  2022-02-12 08:17:03.232113    7.0
3  2022-02-12 08:22:03.232113    7.0
4  2022-02-12 08:27:03.232113    8.0
5  2022-02-12 08:32:03.232113   10.0
6  2022-02-12 08:37:03.232113   10.0
7  2022-02-12 08:42:03.232113   12.0
8  2022-02-12 08:47:03.232113   15.0
9  2022-02-12 08:52:03.232113    9.0
10 2022-02-12 08:57:03.232113   20.0
11 2022-02-12 09:02:03.232113   20.0
12 2022-02-12 09:07:03.232113   25.0

In [11]:
df.fillna(method = 'ffill')

                     DATETIME  VALUE
0  2022-02-12 08:07:03.232113    3.0
1  2022-02-12 08:12:03.232113    4.0
2  2022-02-12 08:17:03.232113    4.0
3  2022-02-12 08:22:03.232113    7.0
4  2022-02-12 08:27:03.232113    8.0
5  2022-02-12 08:32:03.232113    8.0
6  2022-02-12 08:37:03.232113   10.0
7  2022-02-12 08:42:03.232113   12.0
8  2022-02-12 08:47:03.232113   15.0
9  2022-02-12 08:52:03.232113    9.0
10 2022-02-12 08:57:03.232113    9.0
11 2022-02-12 09:02:03.232113   20.0
12 2022-02-12 09:07:03.232113   25.0

In [13]:
# df.interpolate(method = 'linear')

# Creating Lags in Time Series Data

In [14]:
df['LAGGED_ONE'] = df['VALUE'].shift(1)

In [15]:
df['LAGGED_ONE_BACKWARD'] = df['VALUE'].shift(-1)