[Reference](https://bobrupakroy.medium.com/missing-value-imputation-for-time-series-b462fb16c43b)

In [1]:
#get the skewness
from scipy.stats import skew
df["column_name"].skew(nan_policy='omit')
df["column_name"].fillna(df["column_name"].mean())
df["column_name"].fillna(df["column_name"].mode())

In [2]:
#Using Interpolation to fill Missing Values in Series Data
import pandas as pd
import numpy as np

#Create an empty Series
a = pd.Series([0, 1, np.nan, 3, 4, 5, 7])

#1.Linear Interpolation
a.interpolate()

#2.Polynomial Interpolation 
a.interpolate(method="polynomial", order=2)

#3 Interpolation through Padding - imputing missing values with the #same value present previously, however this method will not work if #if there is a missing value in the first row.
a.interpolate(method="pad", limit=2)

In [5]:
import pandas as pd
#Create dataframe with missing values
df = pd.DataFrame({"A":[12, 4, 7, None, 2],
                   "B":[None, 3, 57, 3, None],
                   "C":[20, 16, None, 3, 8],
                   "D":[14, 3, None, None, 6]})

In [6]:
df

      A     B     C     D
0  12.0   NaN  20.0  14.0
1   4.0   3.0  16.0   3.0
2   7.0  57.0   NaN   NaN
3   NaN   3.0   3.0   NaN
4   2.0   NaN   8.0   6.0

# Linear Interpolate

In [7]:
df.interpolate(method ='linear', limit_direction ='forward')
df.interpolate(method ='linear', limit_direction ='backward')

#for a single column
df['C'].interpolate(method="linear", limit_direction ='forward',inplace=True)

In [8]:
df

      A     B     C     D
0  12.0   NaN  20.0  14.0
1   4.0   3.0  16.0   3.0
2   7.0  57.0   9.5   NaN
3   NaN   3.0   3.0   NaN
4   2.0   NaN   8.0   6.0

# Interpolation with padding

In [9]:
df

      A     B     C     D
0  12.0   NaN  20.0  14.0
1   4.0   3.0  16.0   3.0
2   7.0  57.0   9.5   NaN
3   NaN   3.0   3.0   NaN
4   2.0   NaN   8.0   6.0

In [10]:
df.interpolate(method="pad", limit=2)
df.interpolate(method="pad", limit=1)

      A     B     C     D
0  12.0   NaN  20.0  14.0
1   4.0   3.0  16.0   3.0
2   7.0  57.0   9.5   3.0
3   7.0   3.0   3.0   NaN
4   2.0   3.0   8.0   6.0

In [11]:
df

      A     B     C     D
0  12.0   NaN  20.0  14.0
1   4.0   3.0  16.0   3.0
2   7.0  57.0   9.5   NaN
3   NaN   3.0   3.0   NaN
4   2.0   NaN   8.0   6.0